/* GENERAL SETTINGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.flex{
    display: flex;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */